<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce website</title>
    <link rel="stylesheet" href="/style.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="page">
      <nav class="navbar">
        <ul class="navlist">
          <li><a href="#">Website Name</a></li>
          <li class="search">
            <input type="search" name="q" placeholder="Search for..." />
          </li>
           <% if(user) {%> 
            <li><a href="/profile">Hello, <%= user.username %></a></li>
            <% } else { %>
              <li><a href="/login">Register/Login</a></li>
            <% } %>
          <li><a href="/orders">Returns & Orders</a></li>
          <li>
            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i> Cart (<%= cartCount %>)</a>
          </li>
        </ul>
      </nav>

      <div class="card-wrapper">
        <% products.forEach(product => {
          %>
          <section class = "par">
            <div class="container">
              <img src="/images/<%= product.image %>" class="images" alt="<%= product.name%>" />
              <div class="text-block">
                <h2 class="heading"><%= product.name %></h2>
                <p class="para"><%= product.description %></p>
                <p class="price">$<%= product.price.toFixed(2) %></p>
                <a href="/product/<%= product.id %>">
                  <button class="details-btn">View Details</button>
                </a>
              </div>
            </div>
          </section>
          <% }) %>
        
      </div>
    </div>
    <footer>
        <p><strong>About us</strong></p>
          <p><strong>Follow us</strong></p>
          <a href="https://youtube.com" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="https://facebook.com" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://pinterest.com" target="_blank">
            <i class="fa-brands fa-pinterest"></i>
          </a>
          <p><strong>Ask us anything</strong></p>
    </footer>
    <!-- <script src="/script.js"></script> -->
  </body>
</html>
